Manifest.toml

*.mat
*.nc
*.png
*.eps
*.svg
*.hpl

# directories
data
lidar2019/plots/
lidar2019/data/
epsilon_data/

VectorNavTable.jld2
doc/VN300 User Manual (UM3000-R0).pdf
.DS_Store

ASTraL_lidarVectorNav.jld2
